@mixin vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;

  header {
    align-self:center;
    text-align:center;
    width:100%;
    margin: 2rem 0;
    padding:0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--grey);

    @media (max-width: 700px) {
      align-self: center;
      margin-left: 0;
    }
  }

  a {
    justify-content: center;
    text-decoration: none;
  }
}

.questions-container{
width: 350px;
border:1px solid var(--purple0);
border-radius:30px;
font-weight: normal;
font-size: 1rem;
line-height: 1.9rem;
margin-top: 10rem;
padding:10px;
div.options {
  display: flex;
  margin-top: 3.6rem;
}

@media (max-width: 1070px) {
  margin-bottom: 10em;
}
}

.question{
  position: relative;
  padding: 0 1rem;
  list-style: none;
  div{
        padding:10px 0;
  }
  h3 {
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--darkGrey);
  }
}
.option{
margin: 14px 0;
padding: 0 15px;
border-radius: 100px;
-webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
input[type=radio] {
    position: absolute;
    left: -10000px;
  }
 label {
    display: block;
    position: relative;
    padding: 0 15px 0 35px;
    margin: 0 5px ;
    cursor: pointer;
}
label:after,label:before {
    @include vertical-center;
    position: absolute;
    content: "";
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition-property: border-color,-webkit-transform;
    transition-property: border-color,-webkit-transform;
    -moz-transition-property: transform,border-color,-moz-transform;
    transition-property: transform,border-color;
    transition-property: transform,border-color,-webkit-transform,-moz-transform;
}
label:before {
    left: 0;
    width: $option-size;
    height: $option-size;
    border: 3px solid var(--purple0);
}
span{
  font-size:1.3rem;
  color:var(--purple0);
}
}
.circle{
  @include vertical-center;
  left: 0px;
  position: absolute;
  content: "";
  border-radius: 50%;
  width:$circle-size;
  height:$circle-size;
  background-color: var(--purple0);
  left: 4px;
}
